@charset "UTF-8";
/* CSS Document */
html, body{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	font-family: Helvetica,Arial, sans-serif;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
}
h4{
	padding:0;
	margin:9px 10px 8px 0px;
	font-family: Helvetica,Arial, sans-serif;
}
h5{
	font-family: Helvetica,Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding:0;
	margin:0 0 10px 0;
}
a{
	text-decoration: none;
	color:#283754;
}
a:hover{
	color:#cc6600;
}
#link-list a{
	font-weight: bold;
}
#link-list li{
	padding:3px 0px;
}

#back{
	position: absolute;
	top:30px;
	left:30px;
	z-index:10;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background:#283754;
	
}
#back img{
	float:left;
	padding:8px 10px;
}
#back h4{
	float:left;
	color:#FFF;
}

#goto-list{
	position:absolute;
	z-index:100;
	top: 80px;
	left:30px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	background-image:url('../img/white90.png');
	padding:10px 20px;
	width:220px;
}

#spinner{
	left:50%;
	top:50%;
	width:74px;
	height:74px;
	background: #FFF;
	position:absolute;
	z-index:10;
	margin-left:-36px;
	margin-top:-36px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#spinner img{
	position:absolute;
	left:7px;
	top:7px;
}
#bg{
	position:absolute;
	width:100%;
	height:100%;
}
#bg-holder{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	min-width: 400px;
	min-height: 250px;
}

#bg-holder2{
	position:absolute;
	width:600px;
	height:250px;
	top:100px;
	left:30px;
}

#prev{
	position:absolute;
	top:50%;
	left:8px;
	margin-top:-80px;
}
#next{
	position:absolute;
	top:50%;
	right:8px;
	margin-top:-80px;
}

#thumbs,#thumbs1,#thumbs2{
	position:absolute;
	z-index:100;
	bottom:50px;
	left:50%;
	margin-left:-160px;
	background:#000;
	padding:4px;
	
}

#thumbs2{
	display:none;
}
.active{
	border:2px solid #FFF !important;
}
#thumbs li{
	display:block;
	float:left;
	margin:4px 3px;
	cursor:pointer;
	border:2px solid #000;
}
#thumbs1 li{
	display:block;
	float:left;
	margin:5px;
	cursor:pointer;
	border:2px solid #000;
	
}
#thumbs2 li{
	display:block;
	float:left;
	margin:5px;
	cursor:pointer;
	border:2px solid #000;
}

